.avatar {
    width: 50px;
    border-radius: 50%;
}


/* */

.content.dark {
    color: white;
    background: #172b4d;
}
.content {
    background: rgb(247, 250, 252);
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
    display: inline-block;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-secondary {
    background: #f7fafc !important;
}

.article_showcase {
    height: 30vh;
    border-radius: 0 0 0px 0px;
    background: linear-gradient(90deg, rgb(233, 182, 16), rgb(245, 131, 203));
}

.main {
    padding: 0px;
    overflow-x: hidden;
}
